a {
    color:#000;
    text-decoration: none;
}

img {
    position: absolute;
    width: 800px;
    height: auto;
    left: 10vw;
    top: 11.49vh;
}

header h1 {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}

main article h2 {
    position: absolute;
    width: 586px;
    height: 190px;
    left: 50vw;
    top: 10vh;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;

    /* Gray 1 */

    color: #333333;

}

main article p {
    position: absolute;
    width: 381px;
    height: 108px;
    left: 50vw;
    top: 40vh;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;

    /* Gray 2 */

    color: #4F4F4F;

}
main article button {
    position: absolute;
    width: 216px;
    height: 68px;
    left: 50vw;
    top: 60vh;
    background-color: #000;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: -0.035em;
    text-transform: uppercase;

    color: #FFFFFF;
}

main article button a {
    color:#fff;
}


footer {
    position: absolute;
    width: 600px;
    height: 17px;
    left: 577px;
    top: 900px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    text-align: center;
    
    color: #BDBDBD;
}

footer a {
    color: #BDBDBD;
}

@media screen and (max-width:1400px) {
    img {
        width: 800px;
        left:10px;
    }
    main article h2 {
        left: 40vw;
        top:5vh;
    }
    main article p {
        left: 40vw;
        top:35vh;
    }
    main article button {
        left:40vw;
        top: 55vh;
    }
}

@media screen and (max-width:1000px) {
    img {
        width:400px;
        position: absolute;
        left: 11.73%;
        right: 11.78%;
        top: 11.49%;
        bottom: 63.44%;
    }
    
    main article h2 {
        position: absolute;
        width: 80vw;
        height: 142px;
        left: 24px;
        top: 407px;

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -0.035em;
    }

    main article p {
        position: absolute;
        width: 80vw;
        height: 81px;
        left: 23px;
        top: 579px;

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;
    }

    main article button {
        position: absolute;
        width: 50vw;
        height: 68px;
        left: 24px;
        top: 726px;
    }

    footer {
        position: absolute;
        width: 500px;
        height: 17px;
        top: 908px;
        left: 0;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        
        text-align: center;
        
        color: #BDBDBD;
    }
}